/* Computer screen */

/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

html {
  height: -webkit-fill-available;
}
/* Set some basic styles */
body {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  background-color: #ece7e1;
  height: -webkit-fill-available;
}

.banner-photo {
  position: fixed;
  width: 1920px;
  top: -275px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.navbar {
  position: fixed;
  background: linear-gradient(
    to bottom,
    rgba(151, 73, 0, 1),
    rgba(179, 124, 74, 0)
  );
  top: 0%;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.home-link {
  position: absolute;
  top: 25px;
  left: 20px;
  margin-top: 10px;
  color: #ffffff;
  font-size: 25px;
  border-bottom: 1px solid white;
  text-decoration: none;
  white-space: nowrap;
}

.navbar-items {
  position: absolute;
  top: 25px;
  right: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.navbar-item {
  margin: 0 10px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
}

.header-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.header-text {
  flex: 1; /* Allow the text to expand to fill the container */
  text-align: center; /* Center-align the text */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide any overflow text */
  text-overflow: ellipsis; /* Add ellipsis (...) if text overflows */
  font-size: clamp(4px, 12vw, 100px);
}

.header-covers {
  width: 90vw;
  max-width: 1000px;
  text-align: center; /* Center-align the text */
  font-size: clamp(20px, 3vw, 100px);
}
.header-subtext {
  width: 90vw;
  max-width: 700px;
  text-align: center; /* Center-align the text */
  font-size: clamp(20px, 1vw, 100px);
}

.popup-background {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 9999;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 90vw;
  max-width: 900px;
  height: 400px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.bookshelf {
  width: calc(100vw -20px);
  /* border: 2px solid black;
  background-color: antiquewhite; */
  padding: 20px;
  box-sizing: border-box;
}

.shelf-space {
  display: flex;
  flex-direction: row;
  align-items: end;
  box-sizing: border-box;
  position: relative;
  justify-content: center;
}

.shelf {
  position: absolute;
  /* height: 50px; */
  background-color: rgb(44, 41, 38);
  bottom: -50px;
  box-shadow: 0px 15px 8px rgba(0, 0, 0, 0.2);
  /* border-radius: 3px; */
}

.cover {
  transition: transform 0.5s ease; /* Add top property to the transition */
  box-shadow: 10px 0px 8px rgba(0, 0, 0, 0.2);
}

.cover:hover {
  /* transform: scale(1.05); */
  transform: translate(0, -10px);
}
