/* Computer screen */

/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Set some basic styles */
body {
  font-family: "Lato", Arial, sans-serif;
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
  background-color: rgba(179, 124, 74, 1);
}

.navbar-banner {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.navbar {
  position: absolute;
  background: linear-gradient(
    to bottom,
    rgba(179, 124, 74, 1),
    rgba(179, 124, 74, 0)
  );

  width: 100%;
  /* padding-top: 30%; */
  height: 30vh;
  display: flex;
  justify-content: space-between;
}

.home-link {
  margin-top: 10px;
  color: #ffffff;
  font-weight: bold;
  font-size: 25px;
}

.navbar-items {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.navbar-item {
  margin: 0 10px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
}

.banner-photo {
  position: absolute;
  width: 1920px;
  top: -25vh;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* Phone */
@media screen and (max-width: 860px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    height: 0vh;
    padding-top: 27%;
  }

  .home-link {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .navbar-item {
    font-size: 15px;
    margin: 0 5px;
  }
}
