/* Computer screen */

/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

html {
  height: -webkit-fill-available;
}
/* Set some basic styles */
body {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  background-color: rgb(151, 73, 0);
  height: -webkit-fill-available;
}

.banner-photo {
  position: fixed;
  width: 1920px;
  top: -275px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.navbar {
  position: absolute;
  background: linear-gradient(
    to bottom,
    rgba(151, 73, 0, 1),
    rgba(179, 124, 74, 0)
  );
  top: 0%;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: space-between;
}

.home-link {
  position: absolute;
  top: 25px;
  left: 20px;
  margin-top: 10px;
  color: #ffffff;
  font-size: 25px;
  border-bottom: 1px solid white;
  text-decoration: none;
}

.navbar-items {
  position: absolute;
  top: 25px;
  right: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.navbar-item {
  margin: 0 10px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
}

.bio {
  position: relative;
  width: calc(100% - 60px);
  max-width: 1920px;
  left: 50%;
  top: 1005px;
  transform: translate(-50%, 0%);
  border-radius: 30px;
  height: 990px;
  overflow: hidden;
}

.bio::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(151, 73, 0, 0.5);
  z-index: 1;
}

.marble-canyon {
  position: absolute;
  width: 1920px;
  top: -450px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 0;
}

.palm-walk {
  display: none;
}

.bio-text-box {
  position: absolute;
  border-radius: 30px;
  top: 55%;
  left: 5%;
  margin-right: 5%;
  transform: translate(0%, -50%);
  padding: 40px;
  /* width: 60%;
  height: 50%; */
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 2;
  display: inline-block;
}

.about-me {
  position: absolute;
  top: -65px;
  left: 5%;
  margin-top: 10px;
  color: #ffffff;
  font-size: 50px;
  font-weight: 100;
  letter-spacing: -3px;
}

.about-me-photo-container {
  position: relative;
  float: left;
  width: 150px;
  height: auto;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  margin: 0px 20px 20px 0px;
}

.about-me-photo {
  position: relative;
  width: 150%;
  top: 75px;
  left: 50%;
  height: auto;
  transform: translate(-50%, -50%);
}
.bio-text {
  /* position: relative; */
  color: #ffffff;
  font-size: clamp(22px, 1.9vw, 34px);
  font-weight: 100;
}

/* Phone */
@media screen and (max-width: 860px) {
  .navbar {
    height: 100vh;
  }

  .home-link {
    top: 38vh;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .navbar-items {
    top: calc(38vh + 25px);
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 15px;
  }

  .navbar-item {
    font-size: 15px;
    font-weight: 300;
    margin: 0 5px;
  }

  .bio {
    width: calc(100% - 20px);
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 30px;
    height: 900px;
    overflow: hidden;
  }

  .bio::after {
    background-color: rgba(0, 0, 0, 0);
  }

  .marble-canyon {
    display: none;
  }

  .palm-walk {
    display: block;
    position: absolute;
    width: 1900px;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 0;
  }

  .bio-text-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.77);
    /* display: inline-block; */
    z-index: 2;
  }

  .about-me-photo-container {
    width: 125px;
    margin: 70px 20px 20px 15px;
  }

  .about-me-photo {
    top: 50px;
  }

  .about-me {
    top: 50px;
    left: 50%;
    font-size: 35px;
    font-weight: 200;
    letter-spacing: -3px;
    transform: translate(-50%, 0%);
  }

  .bio-text {
    margin-top: 70px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: clamp(20.4px, 4vw, 35.5px);
    /* font-size: 25px; */
    font-weight: 200;
  }
}
